[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
pandas = "*"
nbdev = "*"
fastcore = "*"
kaggle = ">=1.5"
matplotlib = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"
torch = "==2.0.0"
python-dotenv = "*"
pre-commit = "*"
hydra-core = "*"

[dev-packages]
ipykernel = "*"
ts-vae-lstm = {editable = true, path = "."}

[requires]
python_version = "3.9"
