[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
nbdev = "*"
fastcore = "*"
kaggle = ">=1.5"
matplotlib = "*"
seaborn = "*"
torch = "==2.0"
scipy = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"
ts-vae-lstm = {editable = true, path = "."}

[requires]
python_version = "3.9"
